force-app/main/default/flows/Round_Up_the_Animals.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Get a list of animals from the Animals API</description>
        <name>Get_Animals</name>
        <label>Get Animals</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>AnimalsExternalService.GetAnimals</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Set_Animals_API_Response</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <description>Store the Animals API response in a variable</description>
        <name>Set_Animals_API_Response</name>
        <label>Set Animals API Response</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>AnimalsAPIResponse</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Animals.2XX.animals</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>Get a list of animals from the Animals API</description>
    <environments>Default</environments>
    <interviewLabel>Round Up the Animals {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Round Up the Animals</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Animals</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Response value from the Animals API</description>
        <name>AnimalsAPIResponse</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
